div{
    display:inline-block;  
}

.resumen{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 15px;
    background-color: #9e9db8;
    font-size: 3vh;
    font-family: Roboto, serif;
    font-weight: bold;
    width: auto;
}