.navBar {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: var(--black);
    border-style: none none solid none;
    border-width: 2px;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: white !important;
    color: var(--black) !important;
}

.navBarItems {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-end;

}

button {
    font-size: large!important;
    color: var(--black) !important;
}

a {
    font-size: 3vh;
}
