:root {
    --accent: #ef946c;
    --purpleBorder: #2f2963;
    --darkGreen: #439a86;
    --lightGreen: #9ec8c2;
    --purple: #454372;
    --grey: #f7f7ff;
    --black: rgba(0, 0, 0, 0.79);
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    margin: 0;
    font-size: 7vh;
    font-family: Raleway, serif;
    color: var(--black);
}

h2 {
    font-weight: normal;
    margin: 0;
    font-size: 4vh;
    font-family: Raleway, serif;
    color: var(--black);
}

a {
    font-weight: normal;
    margin: 0;
    font-family: Raleway, serif;
    color: var(--black);
    text-decoration: none;
}

p {
    margin: 0;
    font-family: Raleway, serif;
    color: var(--black);
}