.syllabusContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 5vw 0 0 0;
    background-color: var(--grey);
    flex-direction: column;
    align-content: center;
}

.syllabusTimelineContainer {
/*    display: flex;*/
    padding: 2vw 0 0 0;
    background-color: var(--grey);
/*    flex-direction: row;*/
}
